html, body{
    font-family: 'Arial', sans-serif;

}



  .top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .separator{
    color: #ce1b22;
    margin: 30px;
  }

.custom-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
}
.custom-icon svg{
    fill: #ce1b22;
    border-color: #ce1b22;
}

.icon-text{
    color: #ce1b22;
    font-size: 0.9rem;
}

/*LOGO SECTION */

  
  .container {
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
  }
  
  .logo-section {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr; 
    gap: 10px; 
    align-items: center;
  }
  
  .logo {
    max-width: 75%; /* Make sure the logo doesn't exceed its container */
    height: auto; /* Maintain the aspect ratio of the logo */
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
    width: 75%;
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    height: 45%;
  }



  .search input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
  }
  
  .search p {
    margin-right: 10px; 
    text-align: center;
  }
  
  .search-icon {
    max-width: 100%;
    height: auto; 
  }

  .enquiry{
    display: flex;
    background-color: #ce1b22;
    border-radius: 25px;
    width: auto;
    height: auto;
    justify-content: center;
}

.text-red{
    color: #ce1b22 !important;
}

.quick{
    padding-top: 5px;
    font-size:12px;
    color: white;
    text-align: center;
}
  
  .top-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
  }
  
  .enquiry, .signin, .register {
    margin-left: 10px; /* Add some spacing between the top links */
    text-decoration: none; /* Remove underlines from links */
    color: #333; /* Set the text color */
  }


/*end of logo section*


/*start of navigation menu */
.navbar{
    background-color: #ce1b22;
    width: 100%;
    height: 65px;
    margin-top: 10px;
}


/* Set text color to white */
.top-bar .navbar-brand {
    color: white;
    font-size: medium;
  }
  
  /* Limit the total width of the container to 900px */
  .top-bar .container {
    max-width: 900px;
    margin: 0 auto; /* Center the container */
  }
  
  /* Make words break into two lines if more than two */
  .nav-container .navbar-brand {
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  /* Add margin between navbar-brand items */
  .top-bar .navbar-brand:not(:last-child) {
    margin-right: 10px;
  }
  

  /*end o f navigation*/



  /*hero section */

  .hero{
    display: flex;
    align-items: center;
    width: 1000px;
    margin-top: -50px;
    background-color: #ce1b22;
    height: 250px;
  }
  .hero-text{
    flex: 1;
    color: #f8f8f8;
    text-align: center;
  }

  .hero-text h2{
    font-weight: bold;
  }

  .hero-image img{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
  }

    /* end of hero section */
    .products{
        margin-top: 25px;
        text-align: center;
        width: 1000px;
        
    }

    .products h1{
        color: #ce1b22;
        font-weight: bolder;
        font-size: 25px;
    }



      /*all section */
.row{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 200px;
    height: 250px;
    margin: 10px;
    border: none;
    position: relative;
}
.card {
    position: relative;
    margin-bottom: 20px; 
  }

.btn-custom{
    display: inline-block;
    color: #ce1b22;
    border: 1px solid #ce1b22;
    border-radius: 10px;
    text-decoration: none;
    transition: background-colour 0.3s, color 0.3s;
    height: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}
.btn-custom:hover{
    background-color: #ce1b22;
    color: white;
}

.btn-custom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
  }

  /*carousel */
  .carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .carousel {
    display: flex;
    animation: scroll 10s linear infinite; 
  }

  .client-logo {
    width: 150px;
    margin: 110px;
    height: 50px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  

/*** Footer ***/
footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}



.footer {
  background-color: black;
  color: #fff;
  padding-left: 50px;
  padding-top: 50px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Adjust the spacing as needed */
}

.location,
.information,
.connect {
  flex-basis: calc(33.3333% - 20px); /* Adjust the width and spacing as needed */
  text-align: left;
  margin-bottom: 20px; /* Adjust the spacing between rows as needed */
}

.location h4
 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 40px; /* Adjusted margin-top to bring them closer to the top */
}
.information h4{
  margin-top: 20px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.connect h4{
  margin-top: 20px;
  font-size: 1.2rem;
}

.location p {
  margin-bottom: 10px;
}

.connect a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

/* Add hover styles if needed */
.connect a:hover {
  text-decoration: underline;
}

.info-text{
  font-size: 0.9rem;
  display: block;
text-decoration: none;
text-decoration: underline;
color: #fff;
margin: -5px;
margin-left: 20px;

}

.follow{
  margin-top: 10px;
  margin: -10px;
  margin-left: 15px;
}

.connect{
  margin-bottom: 10px;
}

.footer-line{
  color: #fff;
  width: 50%;
  border: #fff solid 1px;
}